@import "../node_modules/bootstrap/scss/bootstrap";
@import "video";

.cabecera{
    align-items: center;
    font-family: Raleway;
    /*color:rgb(159, 192, 211);*/
    color:rgb(201, 205, 207);
    font-size: 25px;            
    padding: 15px;
    background-image: linear-gradient(to bottom, rgb(2, 43, 58), rgb(3, 140, 216));
    /*height:150px;*/          
}
.recuadro{
    width:100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 5px;
    margin-top: 10px;
}

.recuadro:hover{
    transform: scale(1.2);
}

#avatar {
    
    height: 125px;
    width: 125px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    background-color: rgb(255, 255, 255);
}
#avatar2 {
    height:85px;
    width: 85px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    background-color: rgb(255, 255, 255);
}
#avatar3 {
    
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    background-color: rgb(255, 255, 255);
}
  
nav{
    background-color:rgb(183, 203, 214);
    
}

.txt{
    font-family: Raleway;
    font: size 18px;

}
.txt:hover{
  font-family: Verdana, sans-serif;
  color: rgb(8, 23, 54);
  font-weight:bold ;

}

#foto{
    /*  grid-template-areas: foto1;*/
      width: 320px;
      height: 320px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 80%;
      background-size: 100% auto;
      background-color: rgb(255, 255, 255);
      /*bottom: 20px;
      right: 20px;*/
  }

#foto:hover{
    transition: all 2s;
    transform: rotate(45deg);
              
}


.caja:hover{
  transform: scale(1.1);
}

footer{
    background-color:rgb(183, 203, 214);
}

